/*------------------- 1- Style Reset --------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  outline: none;
}

/*
============================
        Variables
============================
*/
/*Colors*/
html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.8461538462em;
}

h3 {
  font-size: 1.625em;
}

h4 {
  font-size: 1.5em;
}

p {
  font-size: 1rem;
}

.desktop--navbar--wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  height: 4rem;
  background-color: #fff;
}

nav.desktop--navbar {
  width: 100%;
  height: 100%;
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
nav.desktop--navbar .navbar--list {
  display: flex;
  list-style: none;
  margin-left: auto;
  align-items: center;
}
nav.desktop--navbar .navbar--list .navbar--item {
  margin-left: 1rem;
  font-size: 0.9375rem;
}
nav.desktop--navbar .navbar--list .dropdown {
  position: relative;
}
nav.desktop--navbar .navbar--list .dropdown-button {
  padding: 15px 0;
}
nav.desktop--navbar .navbar--list .dropdown-button:active > .dropdown-content,
nav.desktop--navbar .navbar--list .dropdown-button:hover > .dropdown-content {
  visibility: visible;
}
nav.desktop--navbar .navbar--list .dropdown-content {
  visibility: hidden;
  position: absolute;
  top: 35px;
  right: 0;
  min-width: 220px;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
}
nav.desktop--navbar .navbar--list .dropdown-content li:hover {
  background-color: #f6f8f8;
}
nav.desktop--navbar .navbar--list .dropdown-content li a {
  display: inline-block;
  padding: 12px 16px !important;
  width: 100%;
}

.active a {
  color: #00b39b;
}

.sticky-nav {
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.15);
}

.mobile--navbar--wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10%;
  height: 4rem;
  z-index: 99;
  background-color: #fff;
}

nav.mobile--navbar {
  width: 100%;
  height: 100%;
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
nav.mobile--navbar .mobile--navbar--burger {
  cursor: pointer;
  padding: 16px 0px;
  position: relative;
  user-select: none;
  margin-left: auto;
  z-index: 100;
}
nav.mobile--navbar .mobile--navbar--burger .navbar--burger--btn {
  background: #00b39b;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 24px;
}
nav.mobile--navbar .mobile--navbar--burger .navbar--burger--btn::before {
  top: -6px;
  background: #00b39b;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
nav.mobile--navbar .mobile--navbar--burger .navbar--burger--btn::after {
  top: 6px;
  background: #00b39b;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
nav.mobile--navbar .navbar--list--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00b39b;
  margin: 0;
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list .navbar--item ul li {
  color: #fff;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list li {
  width: 100%;
  padding: 0 20px;
  line-height: 4rem;
  text-align: center;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list li.career {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list li a {
  color: #fff;
  padding: 1rem 0;
}
nav.mobile--navbar .navbar--list--wrapper .navbar--list #departments {
  color: #dddddd;
}

#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn,
#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn:before,
#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn:after {
  background-color: #fff;
}

#burger-btn:checked ~ .navbar--list--wrapper {
  transform: translateY(0);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  .desktop--navbar--wrapper {
    display: none;
  }

  .mobile--navbar--wrapper {
    display: block;
  }
}
a {
  text-decoration: none;
  color: #ababab;
}

a:hover {
  color: #00b39b;
}

.container {
  max-width: 1015px !important;
}

/*
===============================
            Layout
===============================
*/
/* Section Lead */
#lead {
  margin-top: 6rem;
}
#lead .lead--title--wrapper {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lead .lead--title--wrapper h1 {
  color: #00b39b;
  text-align: center;
  margin: 2rem 0;
  font-weight: 300;
}
#lead p {
  margin-top: 2.5rem;
  line-height: 1.75;
  font-weight: 400;
  color: #747474;
}

/* Section Services */
#services {
  margin-top: 6rem;
}
#services .service--card {
  height: 345px;
  border-radius: 10px;
  padding: 2em 2em 0;
  color: #fff;
}
#services .service--card img {
  width: 24px;
}
#services .service--card h3 {
  margin-top: 1rem;
  font-weight: 300;
}
#services .service--card h4 {
  margin-top: 1rem;
  font-weight: 200;
  line-height: 1.2;
}
#services .service--card select {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  margin-top: 6rem;
}
#services .service--card__patients {
  background-color: #00b39b;
}
#services .service--card__doctors {
  background-color: #3d83df;
}
#services .service--card__clinics {
  background-color: #1b2734;
}

/* Section Brands */
#brand {
  margin-top: 6rem;
}
#brand h3 {
  color: #00b39b;
  line-height: 1.3;
  font-weight: 300;
}
#brand .brands--container li {
  display: inline-block;
  width: 160px;
  padding: 5px 0;
}
#brand .brands--container li:nth-child(7), #brand .brands--container li:nth-child(8) {
  width: 85px !important;
}
#brand .brands--container a {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
#brand .brands--container a svg {
  height: 20px;
  width: auto;
  fill: rgba(171, 171, 171, 0.7);
}
#brand .brands--container a:hover svg {
  fill: #00b39b;
}
#brand .brands--container a img {
  filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
  opacity: 0.55;
}
#brand .brands--container a:hover img {
  filter: none;
  opacity: 1;
}

/* Section Stats */
#stats {
  position: relative;
  margin-top: 6rem;
  background-color: #e5faf8;
  padding: 1rem 0;
  overflow: hidden;
}
#stats h1 {
  color: #00b39b;
  margin-top: 2em;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.3px;
}
#stats p {
  margin-top: 2rem;
  line-height: 1.2;
  color: #747474;
}
#stats .stat--card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  height: 250px;
  text-align: center;
  padding: 30px 15px;
  margin: 1.5rem 0;
}
#stats .stat--card h3 {
  color: #00b39b;
  margin: 1em 0 0.5em 0;
  font-weight: 300;
  line-height: 1.3;
}
#stats .stat--card p {
  font-size: 0.8125em;
  margin-top: 0;
}
#stats::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -120px;
  background: url(/assets/images/logos/logo.png) no-repeat;
  width: 456px;
  height: 435px;
  pointer-events: none;
}

/* Section Offices */
#offices {
  margin-top: 6rem;
}
#offices h3 {
  font-size: 2.1428571429em;
  color: #00b39b;
  line-height: 1.3;
  text-align: center;
}
#offices p {
  margin: 1.6rem auto;
  max-width: 490px;
  text-align: center;
  font-size: 0.875em;
  font-weight: 400;
  color: #747474;
  line-height: 1.7142857143;
}
#offices .office--card--container {
  margin-top: 3rem;
}
#offices .office--card--container .office--card {
  border-radius: 6px;
  margin: 0.8rem 0;
  border: 1px solid rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.2s ease-in-out;
  overflow: hidden;
}
#offices .office--card--container .office--card:hover {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
  transition: box-shadow 0.2s ease-in-out;
}
#offices .office--card--container .office--card .office--card--img {
  width: 100%;
  height: auto;
}
#offices .office--card--container .office--card .office--card--img img {
  width: 100%;
  height: 100%;
}
#offices .office--card--container .office--card .office--card--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
#offices .office--card--container .office--card .office--card--footer .office--card--button {
  background-color: #3d83df;
  padding: 0.5rem 0.5rem;
  color: #fff;
  border-radius: 6px;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 500;
}
#offices .office--card--container .office--card .office--card--footer .office--card--button:hover {
  background-color: #1d5eb2;
  transition: background-color 0.3s ease-in-out;
}

/* Join Us Section */
#join-us {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#join-us h1 {
  font-weight: 300;
  color: #111111;
  text-align: center;
  margin-bottom: 2rem;
}
#join-us button {
  background-color: #3d83df;
  padding: 1rem 1.5rem;
  color: #fff;
  border-radius: 4px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  max-width: fit-content;
}
#join-us button:hover {
  background-color: #1d5eb2;
  transition: background-color 0.3s ease-in-out;
}

/* Footer */
footer {
  border-top: 1px solid #eef2f2;
  padding: 1.5rem 0 1rem 0;
  color: #ababab;
  font-weight: 400;
}
footer .footer--inner {
  zoom: 1;
  max-width: 1015px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
footer .footer--inner p {
  font-size: 12px;
  text-align: center;
  margin: 0.5rem 0;
}
footer .footer--inner p:nth-child(1) {
  margin: 1rem 0 1.5rem 0;
}
footer .footer--inner p a {
  color: #3d83df;
}
footer .footer--inner p a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  #services .service--card {
    margin-bottom: 2rem;
  }

  #stats::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    bottom: -120px;
    background: url(/assets/images/logos/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
  }

  .brands--container {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
