/*
===============================
            Layout
===============================
*/

/* Section Lead */
#lead {
  margin-top: 6rem;
  .lead--title--wrapper {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: $primary;
      text-align: center;
      margin: 2rem 0;
      font-weight: 300;
    }
  }

  p {
    margin-top: 2.5rem;
    line-height: 1.75;
    font-weight: 400;
    color: $grey;
  }
}

/* Section Services */
#services {
  margin-top: 6rem;
  .service--card {
    height: 345px;
    border-radius: 10px;
    padding: 2em 2em 0;
    color: $light;
    img {
      width: 24px;
    }
    h3 {
      margin-top: 1rem;
      font-weight: 300;
    }
    h4 {
      margin-top: 1rem;
      font-weight: 200;
      line-height: 1.2;
    }
    select {
      background-color: transparent;
      border: none;
      outline: none;
      color: $light;
      font-size: 1rem;
      margin-top: 6rem;
    }
  }
  .service--card__patients {
    background-color: $primary;
  }
  .service--card__doctors {
    background-color: $blue;
  }
  .service--card__clinics {
    background-color: $dark-blue;
  }
}

/* Section Brands */

#brand {
  margin-top: 6rem;
  h3 {
    color: $primary;
    line-height: 1.3;
    font-weight: 300;
  }
  .brands--container {
    li {
      display: inline-block;
      width: 160px;
      padding: 5px 0;
      &:nth-child(7),
      &:nth-child(8) {
        width: 85px !important;
      }
    }
    a {
      padding: 5px 0;
      display: flex;
      align-items: center;
    }
    a svg {
      height: 20px;
      width: auto;
      fill: hsla(0, 0%, 67%, 0.7);
    }
    a:hover svg {
      fill: $primary;
    }
    a img {
      filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg)
        brightness(300%) contrast(0);

      opacity: 0.55;
    }
    a:hover img {
      filter: none;
      opacity: 1;
    }
  }
}

/* Section Stats */

#stats {
  position: relative;
  margin-top: 6rem;
  background-color: $light-blue;
  padding: 1rem 0;
  overflow: hidden;
  h1 {
    color: $primary;
    margin-top: 2em;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.3px;
  }
  p {
    margin-top: 2rem;
    line-height: 1.2;
    color: $grey;
  }
  .stat--card {
    background: $light;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    height: 250px;
    text-align: center;
    padding: 30px 15px;
    margin: 1.5rem 0;
    h3 {
      color: $primary;
      margin: 1em 0 0.5em 0;
      font-weight: 300;
      line-height: 1.3;
    }
    p {
      font-size: 0.8125em;
      margin-top: 0;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -120px;
    background: url(/assets/images/logos/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
  }
}

/* Section Offices */

#offices {
  margin-top: 6rem;
  h3 {
    font-size: 2.1428571429em;
    color: $primary;
    line-height: 1.3;
    text-align: center;
  }
  p {
    margin: 1.6rem auto;
    max-width: 490px;
    text-align: center;
    font-size: 0.875em;
    font-weight: 400;
    color: $grey;
    line-height: 1.7142857143;
  }
  .office--card--container {
    margin-top: 3rem;
    .office--card {
      border-radius: 6px;
      margin: 0.8rem 0;
      border: 1px solid rgba(0, 0, 0, 0.03);
      transition: box-shadow 0.2s ease-in-out;
      overflow: hidden;

      &:hover {
        box-shadow: 0 20px 50px 0 rgb(0 0 0 / 13%);
        transition: box-shadow 0.2s ease-in-out;
      }
      .office--card--img {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .office--card--footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.5rem;
        .office--card--button {
          background-color: $blue;
          padding: 0.5rem 0.5rem;
          color: $light;
          border-radius: 6px;
          font-size: 0.7em;
          text-transform: uppercase;
          font-weight: 500;
          &:hover {
            background-color: darken($color: $blue, $amount: 15);
            transition: background-color 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

/* Join Us Section */
#join-us {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 300;
    color: #111111;
    text-align: center;
    margin-bottom: 2rem;
  }
  button {
    background-color: $blue;
    padding: 1rem 1.5rem;
    color: $light;
    border-radius: 4px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    max-width: fit-content;
    &:hover {
      background-color: darken($color: $blue, $amount: 15);
      transition: background-color 0.3s ease-in-out;
    }
  }
}

/* Footer */
footer {
  border-top: 1px solid #eef2f2;
  padding: 1.5rem 0 1rem 0;
  color: #ababab;
  font-weight: 400;
  .footer--inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    p {
      font-size: 12px;
      text-align: center;
      margin: 0.5rem 0;
      &:nth-child(1) {
        margin: 1rem 0 1.5rem 0;
      }
      a {
        color: $blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
