.desktop--navbar--wrapper {
  position: fixed;
  width: 100%;
  padding: 0 4rem;
  height: 4rem;
}
nav.desktop--navbar {
  width: 100%;
  height: 100%;
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .navbar--list {
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
    .navbar--item {
      margin-left: 1rem;
      font-size: 0.9375rem;
    }
    .dropdown {
      position: relative;
    }
    .dropdown-button {
      padding: 15px 0;
    }
    .dropdown-button:active > .dropdown-content,
    .dropdown-button:hover > .dropdown-content {
      visibility: visible;
    }
    .dropdown-content {
      visibility: hidden;
      position: absolute;
      top: 35px;
      right: 0;
      min-width: 220px;
      background-color: #fff;
      box-shadow: 0 5px 10px 0 #d3cfc9;
      li {
        &:hover {
          background-color: #f6f8f8;
        }
        a {
          display: inline-block;
          padding: 12px 16px !important;
          width: 100%;
        }
      }
    }
  }
}
.active a {
  color: $primary;
}
.sticky-nav {
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
}

.mobile--navbar--wrapper {
  display: none;
  position: fixed;
  width: 100%;
  padding: 0 10%;
  height: 4rem;
}
nav.mobile--navbar {
  width: 100%;
  height: 100%;
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .mobile--navbar--burger {
    cursor: pointer;
    padding: 16px 0px;
    position: relative;
    user-select: none;
    margin-left: auto;
    z-index: 100;
    .navbar--burger--btn {
      background: $primary;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 24px;

      &::before {
        top: -6px;
        background: $primary;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
      &::after {
        top: 6px;
        background: $primary;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }
    }
  }
  .navbar--list--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $primary;
    margin: 0;
    transform: translateY(-100%);
    transition: 0.3s ease-in-out;
    .navbar--list {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .navbar--item ul li {
        color: #fff;
      }
      li {
        width: 100%;
        padding: 0 20px;
        line-height: 4rem;
        text-align: center;
        &.career {
          border-top: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
        }

        a {
          color: $light;
          padding: 1rem 0;
        }
      }
      #departments {
        color: #dddddd;
      }
    }
  }
}
#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn,
#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn:before,
#burger-btn:checked + .mobile--navbar--burger .navbar--burger--btn:after {
  background-color: #fff;
}

#burger-btn:checked ~ .navbar--list--wrapper {
  transform: translateY(0);
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  .desktop--navbar--wrapper {
    display: none;
  }
  .mobile--navbar--wrapper {
    display: block;
  }
}
