/*
============================
        Variables
============================
*/

/*Colors*/
$primary: #00b39b;
$secondary: #ababab;
$light: #fff;
$grey: #747474;
$blue: #3d83df;
$dark-blue: #1b2734;
$light-blue: #e5faf8;
